nimcache/
nimblecache/
build/

nimbledeps/
nimbledeps/packages_official.json
nimbledeps/packages_temp.json

htmldocs/

testresults/
tests/megatest.nim
tests/megatest
outputGotten.txt
testresults.html
tests/bin

*.drawio.bkp
task.db
.env
